# IDEA project metafiles
.idea

# Python bytecode
Miranda/*.pyc
Miranda/__pycache__

# runtime data (photos & logs)
Miranda/data/lib/*.jpg
Miranda/data/tmp/*.jpg
Miranda/data/log/*.log

# Make up a dist-env for windows platforms :(
Miranda-win
